#pokemon-list {
   thead {
       tr {
           th {
               text-align: left;
           }
       }
   }
   tbody {
       tr {
           td {
               text-align: left;
               .pokemon-img {
                   width: 150px;
                   height: 150px;
                   border: 1px solid #ccc;
               }
               &:first-child {
                   width: 200px;
               }
           }
       }
   }
}